.drageable-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  -webkit-app-region: drag;
  z-index: 10;
}

#webview {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#loader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #F7F9FA;
  opacity: 0;
  transition: opacity .2s ease;
  pointer-events: none;
  will-change: opacity;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  display: inline-flex;
  border-radius: 50%;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.03);
}

#loader.-active {
  opacity: 1;
  pointer-events: all;
}

#loader.-active .loader-icon {
  animation: loading 1s infinite linear;
}

@keyframes loading {
  0%   { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

body, html {
    background-color: transparent !important
}
